<!DOCTYPE html>
<html ng-app="tictactoe" ng-controller="pad">

<head>
<!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">

</script>
<title>TicTacToe</title>

<style>
.cell {
width: 50px;
height: 50px;
display: inline-block;
border: 1px solid blue;
}

.x{
background-color: red;

.reset{

}

}
</style> 
</head>

<body>

<div class="board" div id="game_start">
<h1>Tic Tac Toe!</h1>
<div class="row" ng-repeat="row in board">
<div class="cell" ng-class="cell" ng-repeat="cell in row" ng-click="button($parent.$index, $index)">{{$index}}, {{$parent.$index}}</div>
</div>
</div>
{{board}}

<script type="text/javascript">

var tictactoe = angular.module("tictactoe", []);
tictactoe.controller("pad", function($scope) {

$scope.button = function(row,cell) {
$scope.board[row][cell] = 'x'; 
};

$scope.board = [[1,2,3],[1,2,3],[1,2,3]];
});


</script>
</body>
</html>
