<!DOCTYPE html>
<html ng-app="tictactoe">
<head>
	<!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">
	</script>
	<title>TicTacToe</title>

	</head>
	<body ng-controller ="TicTacToeController">


<h1>Tic Tac Toe!</h1> 
	
<div class="board" div id="game_start">
<div class="row" ng-repeat="row in board">
<div class="cell" ng-class="cell" ng-repeat="cell in row" ng-click="button($parent.$index, $index)">{{$index}}, {{$parent.$index}}</div>
		</div>
	</div>



<!-- ////////player1////// -->

<div id="player1" input type="text"= ng-model="player1Name" ng-init="player1Name ='player1'" ng-click="Name1(player1)"></div>

<!-- /////player2/////// -->
<div id="player2" input type="text" ng-model="Player2Name" ng-init="player2Name ='player2'" ng-click="Name2(player2)"></div>






<!-- /////restart//////// -->
<!-- <div class="restart" ng=repeat="reset for restart">	 -->
		<!-- <h1>Do you wanna play again?</h1> -->
<!-- <div class="reset" ng-class="reset" ng-click="clearBoard($parent.$index, $index)">{{$index}}, {{$parent.$index}}New Game</div>   -->
		<!-- </div>  -->

<!-- restart -->

<div class="reset" ng-class="restart">	
<button type ="button" ng-click="clearBoard()">New Game</button>
</div> 

	</div>
